body {
    background-color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
    color: #C7CAE7;
}

.navbar {
    background-color: #132639;
    border-radius: 0;
    border-color: #132639;
    font-weight: bold;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand > img {
    height: 100%;
    padding: 15px;
    width: auto;
}

tr {
    display: table-row;
    text-align: left;
}

td {
    font-weight: bold;
}

h1, h2, h3 {
    color: #C7CAE7;
}

main {
    background-color: white;
}

.main-col {
    background-color: white;
}

footer {
    background-color: black;
    height: 2em;
}

footer > p {
    text-align: center;
    margin: 0 !important;
    font-size: 1em;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    border-radius: 0;
}

main {
    min-height: 60em;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.contact-btn {
    display: inline-block;
}

span.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

footer {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #1C5998;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar {
    margin: 0;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #1C5998 !important;
}